.card {
    display: flex;
    height: 25px;
    width: fit-content;
    margin: 25px;
    box-shadow: 0 1px 3px 0 #4e4e4e;
}

.icon {
    display: flex;
    justify-content: flex-end;
    margin: 0 5px;
}

.box {
    display: flex;
    margin: 15px;
}

.text {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px 5px;
}