.div-container {
    display: flex;
}

.form-container {
    display: flex;
    margin: 15px;
}

/* common styling */
.margin {
    margin: 5px;
}

.border {
    border-radius: 1px;
    border: 3px solid #625f5f;
    border-radius: 35px;
}

/************************** Components Styling *************************************/

/* Button Styling */
.button {
    width: 105px;
    height: 55px;
    color: #625f5f;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button:hover {
    background-color: #625f5f;
    color: #e7e5e5;
}

/* Input Styling */
.input {
    padding: 9px;
    height: 55px;
    width: 250px;
    color: #625f5f;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}